.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.input_group{
  display: flex;
  gap: 12px;
}
.input_group input, .input_group select{
  padding: 10px 16px;
  border: 1px solid var(--border);
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.2s;
  cursor: pointer;
}
